runnerScaleSetName: "gpu-runner"
maxRunners: 3
template:
  metadata:
    annotations:
      gke-gcsfuse/volumes: "true"
      gke-gcsfuse/cpu-limit: "0"
      gke-gcsfuse/memory-limit: "0"
      gke-gcsfuse/ephemeral-storage-limit: "0"
  spec:
    serviceAccountName: sglang-gh-runner
    nodeSelector:
      pool_type: "gpu-spot-l4"
    tolerations:
    - key: "cloud.google.com/gke-spot"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: "nvidia.com/gpu"
      operator: "Exists"
      effect: "NoSchedule"
    volumes:
    - name: dshm
      emptyDir:
        medium: Memory
    - name: gcs-models
      csi:
        driver: gcsfuse.csi.storage.gke.io
        volumeAttributes:
          bucketName: ashires-e7aaot-model-download-europe-west4
          mountOptions: "implicit-dirs,only-dir=huggingface_models"
    containers:
    - name: "runner"
      image: "gcr.io/ashires-e7aaot/sglang-jax-runner:latest"
      command: ["/home/runner/run.sh"]
      env:
      - name: "HF_HOME"
        value: "/dev/shm/huggingface"
      resources:
        limits:
          nvidia.com/gpu: 1
      volumeMounts:
      - name: dshm
        mountPath: /dev/shm
      - name: gcs-models
        mountPath: /models
